org.erlide.docs/srs/srs.xsd

<schema
  xmlns='http://www.w3.org/2000/10/XMLSchema'
  targetNamespace='http://www.w3.org/namespace/'
  xmlns:t='http://www.w3.org/namespace/'>

 <element name='srs'>
  <complexType>
   <sequence>
    <element ref='t:functional'/>
    <element ref='t:nonfunctional'/>
   </sequence>
   <attribute name='description' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='functional'>
  <complexType>
   <sequence>
    <element ref='t:item' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='nonfunctional'>
  <complexType>
   <sequence>
    <element ref='t:item' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='item' type="t:itemComplexType">
 </element>
    <complexType name="itemComplexType"><sequence><element minOccurs="0" maxOccurs="unbounded" ref="t:item"></element></sequence><attribute use="required" name="id" type="string"></attribute><attribute use="required" name="type"><simpleType><restriction base="string"><enumeration value="feature"></enumeration><enumeration value="request"></enumeration><enumeration value="bug"></enumeration></restriction></simpleType></attribute><attribute use="required" name="title" type="string"></attribute><attribute use="required" name="severity"><simpleType><restriction base="string"><enumeration value="low"></enumeration><enumeration value="medium"></enumeration><enumeration value="high"></enumeration></restriction></simpleType></attribute><attribute use="required" name="priority"><simpleType><restriction base="string"><enumeration value="low"></enumeration><enumeration value="medium"></enumeration><enumeration value="high"></enumeration></restriction></simpleType></attribute><attribute use="required" name="status"><simpleType><restriction base="string"><enumeration value="open"></enumeration><enumeration value="closed"></enumeration></restriction></simpleType></attribute><attribute use="required" name="description" type="string"></attribute><attribute use="optional" name="created" type="string"></attribute><attribute use="optional" name="author" type="string"></attribute></complexType>
</schema>
