org.erlide.docs/srs/srs.dtd


<!ELEMENT srs (functional, nonfunctional)>
<!ATTLIST srs
	description CDATA #IMPLIED>
	
<!ELEMENT functional (item+)>

<!ELEMENT nonfunctional (item+)>

<!ELEMENT item (item*)>
<!ATTLIST item
	id CDATA #REQUIRED
	type (feature|request|bug) #REQUIRED
	title CDATA #REQUIRED
	severity (low|medium|high) #REQUIRED  	
	priority (low|medium|high) #REQUIRED  	
	status (open|closed) #REQUIRED
	description CDATA #REQUIRED
	created CDATA #IMPLIED
	author CDATA #IMPLIED
	>

